---
import "../css/styles.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
const { title = "Adult Day Experiences", alwaysShrink = false } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />

    <!-- Font Awesome -->
    <script
      src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"
      crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700"
      rel="stylesheet"
    />

    <slot name="head" />
  </head>

  <body>
    <Navbar alwaysShrink={alwaysShrink} />
    <slot />
    <Footer />

    <!-- Bootstrap Bundle JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    ></script>
    <script type="module" src="../scripts/main.js"></script>
  </body>
</html>
